@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-britti), ui-sans-serif, system-ui;
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@font-face {
  font-family: "Behind The Nineties Sans";
  src: url("../app/fonts/Behind-The-Nineties-Sans-Smbd-It.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

.font-subtitle {
  font-family: "Behind The Nineties Sans", sans-serif;
}